/* ACME Corp Assignment 1 CSS Sheet */
*{
  box-sizing:border-box;
}
body{
  background:url(../img/background.png);
  font-family:"Lucida Grande";
  margin:auto;
  width:100%;
}


header{
  background-color:#c4c4c4;
}

img.logo{
  float:left;
  width:25%;
  padding:20px;
}

nav{
  padding:10px;
}

ul{
  text-align:right;
}

li{
  display:inline;
  font-size: 16px;
  padding:10px;
  font-weight: bold;
  color:white;
  text-shadow:1px 1px gray;
}

button{
  background-color:#2A4CB2;
  color:white;
  font-weight:bold;
  padding:10px;
  font-size: 16px;
  border-radius: 8px;
  border-color:#2A4CB2;
  border-style: outset;
}

main{
  margin: 55px auto;
  width: 80%;
  padding:35px;
  background-color:white;
  border-radius:12px;
  box-shadow: 3px 3px 5px rgba(194,194,194,0.4);
}

hr{
  width:85%;
  border:0;
  height:0;
  border-top:1px inset rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.3);
}
  hr.header{
  width: 100%;
  border:0;
  height:0;
  border-top:1px solid rgba(140,140,140,0.5);
  border-bottom: 1px solid rgba(140,140,140,0.5);
}
.product-info {
  display:inline-block;
  top-margin:40px;
}
.product-info-img{
  margin:10px;
  border: 1px solid gray;
  box-shadow: inset 1px 1px 5px 5px rgb(230,230,230);
  border-radius:5px;
  padding: 5px;
}

.details-link{
  color:blue;
  
}
footer {
  text-align:center;
  font-size:12px;
  margin: 30px auto 30px auto;
  color:rgb(162,161,163)
}
